# Windows WSL
*:Zone.Identifier

# macOS
.DS_Store

# Editor
.idea
.vscode/
.claude/
.sonarlint/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.coverage
coverage.xml
htmlcov/

# Env files
.env
*excalidraw
.structurizr

# SonarQube
.scannerwork/

# Excalidraw
*.excalidraw
src/frontend/test-results/.last-run.json
