# Windows WSL
*:Zone.Identifier

# macOS
.DS_Store

# Editor
.idea
.vscode/
.claude/
.sonarlint/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Env files
.env

# SonarQube
.scannerwork/

# Excalidraw
*.excalidraw
